body {
    background-color: #BC986A;
    font-family: impact;
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin: -5px 0px -40px 0px;
}

.choice {
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    max-height: 150px;
    font-family: impact;
    font-size: 1.9rem;
    background-color: #FBEEC1;
}

.choice:hover {
    background-color: #DAAD86;
}

.button-div {
    display: flex;
    justify-content: space-around;
    height: 50vh;
    min-height: 100px;
    max-height: 140px;
}

.choice > img {
    height: 50%;
}

.reset {
    width: 100%;
}

.reset-div {
    height: 30vh;
}

#score-div {
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    min-height: 150px;
    max-height: 200px;
    width: 100vw;
    margin-bottom: 50px;
}

#result-div {
    height: 10vh;
    min-height: 60px;
    max-height: 100px;
    width: 100vw;
    margin-bottom: 20px;
}

#result-div > p {
    text-align: center;
    font-size: 50px;
}

.score-flex {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px
}

.score {
    height: 80%;
    width: 100%;
    border: 5px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font-size: 300%;
}

@media (max-width: 770px) {
    #result-div {
        height: 20vh;
        min-height: 125px;
    }
}
